@mixin transition($properties...) {
    transition: all var(--transitionSpeed) var(--transitionFunction);
    transition-property: $properties;
}

@mixin dark {
    :root[data-theme='dark'] & {
        @content;
    }
}

@mixin hoverLink {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;
    @include transition(text-decoration-color);

    &:hover {
        text-decoration: underline;
    }
}

@mixin scroll {
    -webkit-overflow-scrolling: auto;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 5px;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar);

        &:hover {
            background: color-mix(in srgb, var(--scrollbar), var(--invert) 15%);
        }
    }

    &::-webkit-scrollbar-corner {
        background: var(--border);
    }
}
