@use '$/def/size';

//
// Vars
//

:root {
    --transitionSpeed: 200ms;
    --transitionFunction: cubic-bezier(0, 0, 0.5, 1);
    interpolate-size: allow-keywords;
}

// Sizes

:root {
    --wAside: #{size.$wAside};
    --wMainMin: #{size.$wMainMin};
    --wMainMax: #{size.$wMainMax};

    --gap: #{size.$gap};
    --gapSmall: #{size.$gapSmall};
    --gapBig: #{size.$gapBig};
}

// Colors

:root {
    --bg: light-dark(#ebebeb, #141414);
    --bgAside: light-dark(#f7f7f7, #1b1b1b);
    --bgMain: light-dark(#ffffff, #212121);
    --bgAccent: light-dark(#e6e6e6, #262626);

    --border: light-dark(#d7d7d7, #373737);

    --text: light-dark(#373737, #b9b9b9);
    --textDeep: light-dark(#232323, #e1e1e1);
    --textMuted: light-dark(#696969, #7f7f7f);
    --textDimmed: light-dark(#969696, #616161);
    --textDisabled: light-dark(#b9b9b9, #4f4f4f);

    --brand: light-dark(#12968e, #379c97);
    --error: light-dark(#d91818, #d94e4e);
    --warn: light-dark(#d98718, #d9b44e);
    --success: light-dark(#12a512, #51a551);

    --scrollbar: light-dark(#bfbfbf, #494949);

    --invert: light-dark(black, white);
}

//
// General rules
//

// Noto Sans + Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: var(--bg);
    font-family: 'Noto Sans', system-ui, sans-serif;
    color: var(--text);
}

button {
    all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--textDeep);
}

:focus-visible {
    outline: 2px solid var(--brand);
    border-radius: 3px;
}

::selection {
    background: color-mix(in srgb, var(--brand), transparent 65%);
}

.icon-flip-h {
    [my-icon] svg {
        transform: scaleX(-1);
    }
}
