@reference '../../../../../../packages/erudit/app/styles/main.css';

.block {
    /**/
}

.blockFocus {
    /**/
}

.blockAbove {
    /**/
}

.blockBelow {
    display: none;
}

.block:first-child {
    @apply pt-(--_pMainY);
    > .blockAbove {
        display: none;
    }
}

.block:last-child {
    @apply pb-(--_pMainY);
    > .blockBelow {
        display: none;
    }
}

.blockFocus + .block > .blockAbove {
    display: none;
}

.blockFocus {
    > .blockAbove,
    > .blockBelow {
        display: block;
    }
}

/* === Aside === */

.blockAside {
    /**/
}

.blockAsideBg {
    @apply micro:rounded absolute top-0 left-0 h-full w-full bg-transparent transition-[background];
}

.blockFocus > .blockAside > .blockAside {
    @apply bg-bg-accent;
}
