.pswp__icn {
  width: 40px;
  height: 40px;
  padding: 3px;
  background: color-mix(in srgb, light-dark(#d7d7d7, #3c3c3c), transparent 30%);
  border-radius: 50%;
}

:root {
  .pswp {
    --pswp-bg: var(--color-bg-main);
    --pswp-placeholder-bg: transparent;
  }
}

:root[data-theme='light'] {
  .pswp {
    --pswp-icon-color: #3f3f3f;
    --pswp-icon-color-secondary: white;
    --pswp-icon-stroke-color: #3f3f3f;
  }
}
